.taskInput {
  display: flex;
  align-items: center;
  position: relative;
  transition: 0.5s ease all;
  width: 40%;
}

.inputBox {
  border: none;
  border-radius: 3rem 0 3rem 0;
  font-size: 1.5rem;
  padding: 1.5rem;
  width: 100%;
  transition: 0.1s ease all;
}

.inputBox:focus {
  /* box-shadow: 0 0 0px 2000rem rgba(60, 36, 0, 0.616); */
  outline: none;
}

.inputSubmit {
  background-color: var(--orange);
  border: none;
  border-radius: 3rem 0 3rem 0;
  box-shadow: -0.1rem 0 0.2rem 0.1rem rgba(74, 38, 0, 0.3);
  color: white;
  font-size: 1.5rem;
  padding: 1.5rem;
  position: absolute;
  right: 0;
  transition: 0.5s ease all;
}

.inputSubmit:hover {
  background-color: var(--secondary-orange);
  color: var(--orange);
}

.inputSubmit:active {
  box-shadow: -0.1rem 0 0.2rem 0.1rem rgba(74, 38, 0, 0.1);
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .taskInput {
    width: 60%;
  }
}

@media only screen and (max-width: 600px) {
  .taskInput {
    width: 90%;
  }
}
